<h2>Show post</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @post.url %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Summary:</strong>
    <%= {:safe, Earmark.to_html @post.summary} %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= {:safe, Earmark.to_html @post.content} %>
  </li>

  <li>
    <strong>PublishedAt:</strong>
    <%= @post.published_at %>
  </li>

</ul>

<%= link "Back", to: post_path(@conn, :index) %>